<h3>Name<h3>

<p><%= @user.name %></p><br>

<p>Created events:</p>
<ul>
  <% @user.events.each do |event| %>
    <li>
      <%= link_to "#{event.title}", event_path(event) %><br>
      location: <%= event.location %><br>
      date: <%= event.date %>
    </li>
  <% end %>
</ul>

<p>Upcomping events:</p>
<ul>
  <% @upcoming_events.each do |event| %>
    <li>
      <%= link_to "#{event.title}", event_path(event) %><br>
      location: <%= event.location %><br>
      date: <%= event.date %>
    </li>
  <% end %>
</ul>

<p>Previous events:</p>
<ul>
  <% @previous_events.each do |event| %>
    <li>
      <%= link_to "#{event.title}", event_path(event) %><br>
      location: <%= event.location %><br>
      date: <%= event.date %>
    </li>
  <% end %>
</ul>