<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <h6>
      <% if current_user %>
        Logged in as <%= current_user.name %>. 
        <%= link_to 'Log Out', logout_path %>
      <% else %>
        <%= link_to 'Sign Up', signup_path %> or 
        <%= link_to 'Log In' , login_path  %>
      <% end %>
    </h6>
    <h5>
      <% unless current_page?(root_path) %>
        &emsp;
        <%= link_to '>> To Events', root_path %>
      <% end %>
      <% unless current_page?(users_path) %>
        &emsp;
        <%= link_to '>> To Users', users_path %>
      <% end %>
      <% if current_user && current_page?(root_path) %>
        &emsp;
        <%= link_to '>> New event', new_event_path %>
      <% end %>
    </h5>
    <%= yield %>
  </body>
</html>
